.footerWrapper {
  @apply w-full min-h-screen max-h-screen flex flex-col justify-end gap-[2rem] items-start mt-[1rem] relative;
}

/* Social Icons */
.socialIcons {
  /* @apply flex flex-col gap-2 items-center;*/
  @apply flex flex-col gap-2 items-start;
}

.icons {
  @apply flex gap-4 text-[#ccc];
}

/* Legals */
.legalItems {
  /*  @apply flex flex-col items-center;*/
  @apply flex flex-col gap-3 items-start;
}
.legals {
  /* @apply flex flex-col items-center;*/
  @apply flex flex-col gap-2 items-start;
}

/* Contacts */
.contacts {
  /*  @apply flex flex-col items-center;*/
  @apply flex flex-col gap-3 items-start;
}

.contactItems {
  /*  @apply flex flex-col items-center gap-1;*/
  @apply flex flex-col items-start gap-2;
}

/* Associates */
.associates {
  /*  @apply flex flex-col items-center gap-1;*/
  @apply flex flex-col items-start gap-1;
}

/* Conlusion */
.conlusion {
  @apply flex flex-col items-center relative border-t-[1.5px] border-[#dadada95] w-[90%];
}

/*.conlusionDesktop {
  @apply bg-[#151B23] py-[0.75rem];
}*/

.iconsDesktop {
  @apply flex gap-[1rem] text-[#ccc];
}

/* Logo Animation */
.card {
  z-index: 1;
  @apply rounded-[8px] relative;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 8px;
  background-image: conic-gradient(from var(--angle), transparent 10%, #f3ff6a, #00ff99, #77aaf2, #f3ff6a);
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
