/* Logo Animation */
.card {
  z-index: 1;
  @apply rounded-[6px] relative;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 8px;
  background-image: conic-gradient(from var(--angle), transparent 50%, #f3ff6a, #00ff99, #77aaf2, #f3ff6a);
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
