/* Mobile First Design */
.postWrapper {
  @apply overflow-clip;
}

.ImageWrapper {
  @apply w-[270px] h-[345px] relative;
}

.Image {
  @apply object-cover w-full h-[60%] block;
}

.Title {
  @apply font-semibold text-[1.125rem] leading-[1.375rem] text-[#39FF14];
}

/* Shadow Effects */
.shadowEffect {
  @apply shadow-lg; /* Default shadow */
}

.ImageWrapper.shadowEffect {
  @apply shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-1px_rgba(0,0,0,0.06)];
}

.titleOverlay.shadowEffect {
  @apply shadow-[0_2px_4px_0_rgba(0,0,0,0.1)];
}

/* Responsive Design for Medium Sized Devices (768px to 1024px) */
@media screen and (min-width: 768px) {
  .ImageWrapper {
    @apply w-[283px] h-[353px];
  }

  .Description {
    @apply mt-[0.5rem];
  }
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
  @apply ring-2 ring-blue-500 ring-offset-2;
}
