@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: color-mix(in srgb, #a8b3cf, transparent 92%);
  --background: #252525;
  --background: #14171b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
