@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Some Random Styles */
  --background: #14171b;
  --background: #f0f0f0;
}

body {
  /* Some Random Styles */
  background: var(--background);
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}
