.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 165, 0, 0.7), 0 0 7px rgba(254, 234, 11, 0.5);
  }
  100% {
    text-shadow: 0 0 10px rgb(255, 132, 0), 0 0 20px rgba(255, 119, 0, 0.8);
  }
}
